ul{
    padding-left: 0;
}
li{
    box-sizing: border-box;
}

li {
    display: inline-block;
    font-size: 0.65em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-grey);
    font-weight: 600;
  }
  
li:nth-child(1){
    padding-left: 0;
}

li span {
    position: relative;
    display: block;
    font-size: 4.5em;
    font-weight: 700;
    color: var(--light-grey);
}

li span::after{
    content: ':';
    position: absolute;
    right: -15px;
}

li:nth-child(4) span::after{
    content: '';
}
 
@media screen and (min-width: 768px){
    li{
        font-size: 0.8em;
        padding: 1em;
    }

    li span{
        font-size: 4em;
    }

    li span::after{
        right: -20px;
    }
}

@media screen and (max-width: 1200px){
    li{
        font-size: 0.8em;
        padding: 0.7em;
    }

    li span{
        font-size: 3em;
    }

    li span::after{
        right: -15px;
    }
}
 


@media screen and (max-width: 768px){
    li {
        font-size: 0.65em;
        padding: 1em;
      }
      
    
    li span {
        font-size: 4.5em;
    }
}