.social-ul{
    list-style: none;

    li{
        display: inline-block;
        margin-right: 1.5em;
        font-family: 'Rubik';
        font-weight: bold;

        a{
            color: #fff;
            text-decoration: none;
        }
    }
}