:root{
    --secondary-color: #590101;
    --light-grey: #9F9F9F;
    --dark-grey: #737373;
    --very-dark-grey: #515050;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    padding: 1em 5%;
    display: flex;
    justify-content: space-between;
}

main {
    padding: 4% 5% 0 5%;
    height: 65vh;
    display: flex;
    position: relative;

    img{
         max-width: 100%;
         width: 550px;
         margin-top: -100px;
    }

    .left-container{
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
        h1{
            font-family: 'Roboto Condensed';
            font-weight: 900;
            margin-bottom: 0.2em;
            font-size: 2.8em;
            color: #fff;
        }
        p{
            margin: 0;
            font-size: 0.8em;
            color: var(--dark-grey)
        }
    }

    .right-container{
        position: relative;
        width: 60vw;
        text-align: center;
    }

    .coming-soon{
        display: block;
        position: absolute;
        right: -3%;
        top: 50%;
        font-family: 'Rubik';
        font-size: 0.7em;
        transform: translateY(-50%) rotate(-90deg)
    }
}

footer{
    margin-top: auto;
    width:100%;
    display: flex;
    justify-content: flex-end;
   
    .socials{
        display: none;
    }

    .login{
        display: flex;
        align-items: center;
        padding: 1em;
        padding-right: 5%;
        a{
            text-decoration: none;
            color: var(--very-dark-grey);
            transition: .3s;
            &:hover{
                letter-spacing: 2px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    header{
        .socials{
            display: none;
        }
    }

    main {
        padding: 5%;
        height: 65vh;
       
        .left-container{
            width: 95%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: auto;

            h1{
                font-size: 2.3em;
            }
        }

        .right-container{
            display: none;
        }

        .coming-soon{
            display: none;
        }
    }

    footer{
        .socials{
            display: flex;
        }
        .login{
            display: none;
        }
        width:100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px){
    main {
    
        img{
             max-width: 100%;
             width: 500px;
             margin-top: -100px;
        }
    
        .left-container{     
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
            h1{
                font-size: 2.1em;
            }
        }

        
    
    }
}

@media screen and (max-width: 980px){
    main {
    
        img{
            max-width: none;
             width: 550px;
             
        }
    
        .left-container{     
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
            h1{
                font-size: 2.1em;
            }
        }

        .right-container{
            width: 30vw;
        }
    
    }
}

@media (orientation: landscape) {
    body {
      overflow-y: auto;
    }
  }